name: .NET

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:
    inputs:
      IsRelease:
        description: 'Release?'
        required: true

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: |
          3.1.x
          5.0.x
          6.0.x
    - name: Build
      run: dotnet build src
    - name: Test
      run: dotnet test src --no-build --verbosity normal
    - name: Pack
      run: dotnet pack src --no-build --output nuget /p:IsRelease=${{ github.event.inputs.IsRelease }}
    - name: 'Upload Artifact'
      uses: actions/upload-artifact@v2
      with:
        name: nuget
        path: nuget/
  test:
    needs: build
    strategy:
      matrix:
        config:
          - sdk: |
              3.1.x
              5.0.x
          - sdk: |
              3.1.x
              6.0.x
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Download all workflow run artifacts
      uses: actions/download-artifact@v2
      with:
        name: nuget
        path: nuget
    - name: Get package version
      shell: pwsh
      id: vars
      run: |
        gci -Recurse | %{ $_.FullName }
        $name = (gci nuget/*.nupkg -Recurse)[0].Name
        $version = $name.Substring($name.IndexOf(".") + 1)
        $version = $version.Substring($version.LastIndexOf("."))
        Write-Host "::set-output name={FunctionalTestPackageVersion}::{$version}"
    - name: Test
      run: dotnet build /t:Test eng/FunctionaTests.proj /p:RestoreAdditionalProjectSources=${{ github.workspace }}/nuget /p:FunctionalTestPackageVersion=${{ steps.vars.outputs.FunctionalTestPackageVersion }}
  publish:
    needs: [build, test]
    runs-on: ubuntu-latest
    steps:
    - name: Download all workflow run artifacts
      uses: actions/download-artifact@v2
      with:
        name: nuget
        path: nuget
    - name: Setup .NET
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 6.0.x
    - name: Add GitHub package source
      run: dotnet nuget add source https://nuget.pkg.github.com/pakrym/index.json --name "github" --username NotUsed --password ${{ secrets.GITHUB_TOKEN }} --store-password-in-clear-text
    - name: Publish NuGet packages to NuGet
      run: dotnet nuget push nuget/*.nupkg --api-key ${{ secrets.NUGET_KEY }} --source "nuget.org" --skip-duplicate --no-symbols true
      if: (github.event_name == 'push' || github.event_name == 'workflow_dispatch') && github.ref == 'refs/heads/main'